<% provide(:title, "Help") %>
<h1>How to upload your profile picture?</h1>
<p>
  <ul>
    <li>
      Go to this site <a href="https://en.gravatar.com/site/login">https://en.gravatar.com/site/login</a>
    </li>
    <li>Sign up and upload your picture here. Make sure you use the same email when you sign up to this site</li>
    </ul>
    </p>
